.chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: space-between
}

.component-HeaderChat {
    height: 7vh;
}

.component-MessageList {
    flex: 1;
    height: 50px;
    overflow-y: scroll;
    overflow-x: none;
}

.component-MessageList::-webkit-scrollbar {
    width: 4px;
}

.component-MessageList::-webkit-scrollbar-track {
    background: transparent;
}

.component-MessageList::-webkit-scrollbar-thumb {
    background-color: rgba(53, 66, 73, 0.705);
    border-radius: 10px;
}

.component-NewMessage {
    height: auto;
}

.chat-screen {
    background-image: url(/assets/wallpaper-dark-mode.png);
    display: flex;
    flex-direction: column;
    height: 95vh;
    margin-top: 20px;
    width: 60vw;
}

@media (min-width: 701px) and (max-width: 930px) {

    .chat-screen {
        width: 100vw;
        height: 95vh;
        justify-content: space-between;
    }

}

@media (min-width: 320px) and (max-width: 700px) {

    .component-HeaderChat {
        height: 6vh;
    }

    .chat-screen {
        width: 100vw;
        height: 97vh;
        justify-content: space-between;
    }

}