.chat-container {
    display: flex;
    font-size: 10px;
    padding: 10px;
    flex-direction: column;
    justify-content: space-between;
}

.top {
    display: flex;
    flex-direction: column;
}

.bottom {
    display: flex;
    flex-direction: row;
    text-align: end;
    align-items: start;
    justify-content: start;
    gap: 5px;
    width: 30px;
    height: 5px;
    padding: 10px 30px 7px 0;
}

.my-message {
    max-width: 70%;
    text-align: start;
    color: #fff;
    background-color: rgb(0, 92, 75);
    margin-left: auto;
    margin-right: 40px;
    gap: 20px;
    padding: 8px 25px 10px 8px;
    border-radius: 10px;
    height: auto;
    width: auto;
    justify-content: space-between;
    font-size: 20px;
    display: flex;
}

.other-message {
    max-width: 70%;
    color: #fff;
    background-color: rgb(32, 44, 51);
    margin-right: auto;
    margin-left: 40px;
    padding: 8px 9px 10px 15px;
    border-radius: 10px;
    height: auto;
    width: auto;
    justify-content: space-between;
    gap: 20px;
    display: flex;
}


.message-text {
    font-size: 13px;
    word-break: break-word;
}

.message-hour {
    font-size: 11px;
    width: 40px;
    color: #ffffffa4;

}

.message-stattus {
    font-size: 15px;
}

.blue-double-check {
    color: var(--blue-check);
}

.double-check,
.pending {
    color: var(--check);
}